body {
	padding-left:20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
h1 {
	margin-bottom: 0;
}
h3 {
	font-size: 24px;
}
.basic-info,
.contact-info {
	overflow:hidden;
}
.basic-info li,
.contact-info li {
	float: left;
	margin-right: 30px;
}
li span {
	font-weight: bold;
	margin-right: 10px;
}
li > p {
	margin-top: 5px;
}
aside {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
button {
	width: 80px;
	height: 35px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #d6d6d6;
	cursor: pointer;
}
button:hover {
	background-color: #b9b5b5;
}