body {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	background-color: #333;
}
/* 头部Start */
.header-wrap {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	color: #fff;
	overflow: hidden;
}
.header-wrap .logo {
	float: left;
	margin-top: 25px;
	font-size: 20px;
}
.header-wrap ul {
	float: right;
	margin-top: 5px;
}
.header-wrap li {
	float: left;
	list-style: none;
	margin-right: 10px;
}
.header-wrap a {
	color: #fff;
}

/* banner Start */
.banner {
	width: 100%;
	height: 300px;
	background-color: #66bb33;
	clear: both;
}
.banner-wrap {
	position: relative;
	width: 960px;
	height: 300px;
	margin: 0 auto;
}
.banner-wrap ul {
	margin: 0;
}
.banner-wrap .page {
	position: absolute;
	right: 0;
	bottom: 10px;
	display: flex;
	align-items: flex-end;
	overflow: hidden;

}
.page-num {
	float: left;
	width: 28px;
	height: 34px;
	line-height: 34px;
	margin-right: 10px;
	text-align: center;
	/*border: 1px solid rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, .5);*/
	border: 1px solid #000;
	background-color: #fff;
	opacity: .5;
	list-style: none;
}
.active {
	width: 28px;
	height: 48px;
	line-height: 60px;
	opacity: 1;
}
/* banner End */

/* 主导航及内容区域Start */
.main-nav {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ddd;
}
.main-nav-wrap {
	position: relative;
	width: 960px;
	height: 70px;
	margin: 0 auto;
}
.main-nav ul {
	position: absolute;
	bottom: -2px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main-nav li {
	float: left;
	width: 115px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	list-style: none;
}
.main-nav .nav-checked {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}
.home-item {
	width: 960px;
	margin: 0 auto;
}
.home-item .row {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.home-item .row-item{
	height: 174px;
	line-height: 174px;
	text-align: center;
	border: 1px solid #ccc;
}
.home-item .row-01 .row-item,
.home-item .row-03 .row-item {
	width: calc((960px - 26px) / 3);
}
.home-item .row-02 .row-item {
	width: calc((960px - 38px) / 4);
}
/* 主导航及内容区域End */

footer {
	width: 100%;
	height: 120px;
	margin-top: 15px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
	background-color: #666;
}